// Dashboard page styles
:host
  display: block

.custom-scrollbar::-webkit-scrollbar
  width: 6px

.custom-scrollbar::-webkit-scrollbar-track
  background: hsl(var(--surface))

.custom-scrollbar::-webkit-scrollbar-thumb
  background: hsl(var(--border))
  border-radius: 10px
  &:hover
    background: hsl(var(--muted-foreground))
