:host
  display: block
  width: 100%
  max-width: 100%
  overflow: hidden

.sticky
  position: sticky
  left: 0
  background-color: inherit
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.05)
  z-index: 5

table
  border-collapse: separate
  border-spacing: 0

th, td
  border-bottom-width: 1px
  border-color: rgba(226, 232, 240, 0.6)

.dark
  th, td
    border-color: rgba(39, 39, 42, 0.6)
