// Sidebar component styles
:host
  display: block

.custom-scrollbar::-webkit-scrollbar
  width: 4px

.custom-scrollbar::-webkit-scrollbar-track
  background: transparent

.custom-scrollbar::-webkit-scrollbar-thumb
  background: rgba(30, 41, 59, 0.5)
  border-radius: 10px

:host ::ng-deep .active 
  background-color: rgba(255, 255, 255, 0.05)
  color: white
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05)
  border: 1px solid rgba(255, 255, 255, 0.1)

  .material-symbols-outlined
    color: hsl(var(--primary-container))
    opacity: 1
